<h1 class="title-section">
  <svg-icon src="assets/images/clapperboard.svg" style="width:90px;"></svg-icon>Películas</h1>
<div class="container">
  <div class="row" *ngIf="movies">    
    <div class="col-md-3" *ngFor="let movie of movies" >
      <mat-card [routerLink]="['/search/movie-detail', movie.id]">
        <mat-card-header>          
          <mat-card-title class="click-pointer title-card">{{movie.title}}</mat-card-title>
          <mat-card-subtitle>
            <i class="material-icons" matTooltip="popularidad">trending_up</i>
            {{movie.popularity}}
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="click-pointer" src="{{ImagesURL}}/w300{{movie.poster_path}}" alt="foto de {{movie.title}}">        
        <mat-card-actions>
          <button mat-button class="click-pinter">VER MÁS</button>          
        </mat-card-actions>
      </mat-card>
      <br>
    </div>
  </div>
</div>