<div class="container">
  <div class="row" *ngIf="actors">
    <div class="col-md-4" *ngFor="let actor of actors">
      <br>
      <h4>
        {{actor.name}} |
        <small>Popularidad: {{actor.popularity}}</small>
      </h4>


      <img src="{{ImagesURL}}/w154{{actor.profile_path}}" height="231" *ngIf="actor.profile_path; else noImagesBlock" alt="">
      <ng-template #noImagesBlock>
        <img src="https://vignette3.wikia.nocookie.net/futperex/images/8/84/Vac%C3%ADo.png/revision/latest?cb=20150625220856&path-prefix=es"
          height="231" width="154px" alt="">
      </ng-template>
      <hr>
    </div>
  </div>
  
  <!--<ng-template #elseBlock>No se encontrarón resultados</ng-template>-->
</div>