<mat-toolbar color="primary" class="my-toolbar">
  <div class="container">
    <span> Movies </span> |
    <!--<a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>-->

    <a mat-button>
      <i class="material-icons">home</i> Home</a>
    <a mat-button>
      <i class="material-icons">movie</i> Movies</a>
    <a mat-button>
      <i class="material-icons">face</i> Actors</a>
    <!--<a mat-button ><span class="fa fa-address-card fa-lg"></span> My List</a>-->
    <a mat-button>
      <i class="material-icons">bubble_chart</i> About</a>
    <!-- <a mat-button ><span class="fa fa-address-card fa-lg"></span> Idioma</a>-->
    <span class="flex-spacer"></span>
    <!--<a mat-button> <i class="material-icons">input</i> Login </a>-->
  </div>
</mat-toolbar>
<br>
<br>
<br>
<br>
<app-search></app-search>
