<div class="container footer">
  <div class="row">
    <div class="col-md-6">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi praesentium aut aliquam laborum possimus dignissimos exercitationem, officiis adipisci temporibus, veritatis ipsa veniam laudantium dolore, nemo quibusdam illum esse. Delectus, eaque!
    </div>
    <div class="col-md-6">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam quo culpa minima quibusdam fuga. Excepturi quod repellat accusamus nihil architecto quidem ab molestiae explicabo deserunt, voluptate cumque libero possimus cupiditate.
    </div>
    <div class="col-md-12">
      <p>© Copyright 2015 Jackson </p>
    </div>

  </div>
</div>