<div class="container">
  <div class="row" *ngIf="movie">
    <div class="col-md-12">
      <h1> {{movie.title}}
      </h1>
      <hr class="line">
      <h3>
        <small>{{movie.tagline}} - voto promedio: {{movie.vote_average}} - fecha lanzamiento {{movie.release_date}}</small>
      </h3>
    </div>
    <div class="col-md-9">
      <img src="{{ImagesURL}}/w780{{movie.backdrop_path}}" class="img-responsive" *ngIf="movie.backdrop_path; else noImagesBlock"
        alt="">
      <ng-template #noImagesBlock>
        <img class="img-responsive" src="https://vignette3.wikia.nocookie.net/futperex/images/8/84/Vac%C3%ADo.png/revision/latest?cb=20150625220856&path-prefix=es"
          alt="">
      </ng-template>
    </div>

    <div class="col-md-3">
      <h4>Opciones: </h4>
      <button mat-button matTooltip="Ver videos!">
        <i class="material-icons">play_circle_outline</i> Trailer
      </button>

      <hr>
      <h4>Acciones: </h4>
      <button mat-icon-button matTooltip="Votar!">
          <i class="material-icons">star</i>
        </button>
      <button mat-icon-button matTooltip="Agregar a favorito">
        <i class="material-icons">favorite_border</i>
      </button>
      <button mat-icon-button matTooltip="Agregar a mi lista">
        <i class="material-icons">playlist_add</i>
      </button>

    </div>
    <div class="col-md-12">

      <h4>
        Sinopsis:
      </h4>
      <p>
        {{movie.overview}}
      </p>

    </div>
  </div>
</div>
<div *ngIf="movie">
  <app-trailer [videosmovie] ="movie.videos.results"></app-trailer>
</div>
<div *ngIf="movie">
  <app-gallery-images [imagesmovie]="movie.images"></app-gallery-images>
</div>