
<div id="tabs-container" class="container">
  <mat-tab-group class="demo-tab-group">
    <mat-tab label="Peliculas en estreno">
      <ng-template mat-tab-label>
        <svg-icon src="assets/images/film-reel.svg" style="width:30px;"></svg-icon> <span> películas en estreno </span>
      </ng-template>
      <br>
      <h2 class="title-section">
        <svg-icon src="assets/images/film-reel.svg" style="width:40px;"></svg-icon>Películas en Estreno
      </h2>

      <div class="row" *ngIf="moviesNowPlaying">
        <div class="col-md-3" *ngFor="let movie of moviesNowPlaying">
          <mat-card [routerLink]="['/movies/movie-detail', movie.id]">
            <mat-card-header>
              <mat-card-title class="click-pointer title-card">{{movie.title}}</mat-card-title>
              <mat-card-subtitle>
                <i class="material-icons" matTooltip="popularidad">trending_up</i>
                {{movie.popularity}}
              </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="click-pointer" src="{{ImagesURL}}/w300{{movie.poster_path}}" alt="foto de {{movie.title}}">
            <mat-card-actions>
              <button mat-button class="click-pinter">VER MÁS</button>
            </mat-card-actions>
          </mat-card>
          <br>
        </div>
      </div>

    </mat-tab>


    <mat-tab label="Películas populares">
      <ng-template mat-tab-label>
        <svg-icon src="/assets/images/3d-glasses.svg" style="width:30px;"></svg-icon> <span> películas en populares </span>
      </ng-template>
      <br>
      <h2 class="title-section">
        <svg-icon src="/assets/images/3d-glasses.svg" style="width:40px;"></svg-icon> Películas Populares
      </h2>
      <div class="row" *ngIf="moviesPopularity">
        <div class="col-md-3" *ngFor="let movie of moviesPopularity">
          <mat-card [routerLink]="['/movies/movie-detail', movie.id]">
            <mat-card-header>
              <mat-card-title class="click-pointer title-card">{{movie.title}}</mat-card-title>
              <mat-card-subtitle>
                <i class="material-icons" matTooltip="popularidad">trending_up</i>
                {{movie.popularity}}
              </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="click-pointer" src="{{ImagesURL}}/w300{{movie.poster_path}}" alt="foto de {{movie.title}}">
            <mat-card-actions>
              <button mat-button class="click-pinter">VER MÁS</button>
            </mat-card-actions>
          </mat-card>
          <br>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>