/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


body{
    padding: 0;    
    margin: 0;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    background:rgb(245, 244, 244);
}

$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$accent-color:#FFC107;
$divider-color: rgb(168, 165, 165); 

.background-primary {
    background-color: $background-dark!important;
  }
.background-accent {
    background-color: $accent-color!important;
  }
.text-floral-white {
    color: floralwhite!important;
}

.img-responsive{
    width: 100%;
}

hr{
    height: 1px;
    color: #eee;    
}

.click-pointer{
    cursor: pointer;
}

.padding-bottom{
    padding-bottom: 20px;
}

.avatar-header-image {    
    background-size: cover;
}

.title-section{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 27px;
    border-bottom: 0px solid rgb(214, 214, 214);
}

.title-section svg-icon{
    display: block;
    margin: 0px auto;
    
}

.mat-toolbar {
    background: #fbfbfb;
    color: rgba(220, 50, 50, 0.9);
    text-transform: uppercase;    
    
    box-shadow: 0 3px 6px rgba(87, 87, 87, 0.16), 0 3px 6px rgba(80, 80, 80, 0.23);
    
}

.mat-toolbar  a{
    font-size: 13px;
    font-weight: 600;    
}

.mat-toolbar svg-icon{
    margin-top: 10px;
    margin-bottom: 0px;    
}

.title-card:hover{
    color: rgb(156, 156, 156);    
}

.title-card{
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
}

.demo-tab-group {
    border: 1px solid #e8e8e8;
}
.mat-tab-labels{
    background:  #ffffff;
}

.mat-tab-body-content {    
    height: 500px !important; 
    overflow: scroll !important;   
    overflow-x: scroll !important;
    overflow-x: hidden !important;
}

#tabs-container{
    max-width: 1300px;
    width: 100% !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    margin-right: auto;
    margin-left: auto;
}

.mat-tab-label{
    opacity: 1 !important;
    font-size: 16px !important;
}

.mat-tab-label span{
    margin-left: 10px;
    text-transform: uppercase;
}

.subtitle-section{
    font-size: 14px;
    display: block;
    color: rgb(139, 138, 138);
    font-weight: 700;
}
.subtitle-section svg-icon{
    margin-right: 5px;
    
}

.title-movie-detail{
    margin: 2px 0px;
}

.content-item{
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(212, 212, 212);
    width: 300px;
}


