.form-field-full-width {
    margin-top: 10px;
    width: 100%;
  }

.mat-radio-button ~ .mat-radio-button {
   padding-right: 10px;
   padding-left: 20px;
}

.icon-right{
    right: 0%;
    left: 100%;
    float: right;
}