<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Bienvenidos a Apimovies</h1>
      <p>Aquí puedes encontrar todas tus peliculas favoritas y disfrutar de ellas, conociendo cada detalles como lo son:
      </p>
      <ul>
        <li>películas y actores populares</li>
        <li>películas en estreno</li>
        <li>fechas de lanzamientos</li>
        <li>trailers</li>
        <li>fotos y mucho más</li>
      </ul>
      <svg-icon src="assets/images/popcorn.svg" style="width:90px;"></svg-icon>
      <p>
        Y como por si fuera poco, tambien puedes participar en la valoración de todas las peliculas disponibles y crear listas de
        películas y etiquetearlas como favoritas
      </p>
      <svg-icon src="assets/images/rating.svg" style="width:150px;"></svg-icon>

    </div>
    <div class="col-md-4">
      <svg-icon src="assets/images/video-play.svg" style="width:180px;"></svg-icon>
    </div>
  </div>
</div>
